body {
  background-color: rgb(174, 134, 134);
}

#root {
  width: 100%;
  margin: auto;
  align-items: center;
  background-color: rgb(164, 132, 204);
}


h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

main {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}

.modal-body {
  text-align: center;
  align-content: center;

}

.modal-body img {
  width: 400px;
}