div {
  align-items: center;
  text-align: center;
}

.form-label {
  font-size: 20px;
  color: rgb(255, 255, 255);
}

#chooseHorns {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(247, 62, 127);
  width: 116px;
}